@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 9</h1>
    <p class="lead">Assignment 9 Done by Eunseok Jeon</p>
    <p><a href="http://ejeon5-wa2017a9b.azurewebsites.net/" target="_blank" class="btn btn-primary btn-lg">Assignment 9 on Azure &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Only Authorized user can see the menu bar! Please login</h2>
        <p>Provided Ids (With all same passwords "Password123!"):</p>
        <p>Executive:   exec@example.com<br />
           Coordinator: coord@example.com<br />
           Clerk:       clerk@example.com<br/>
           Staff:       staff@example.com<br/>
           Finance:     finance@example.com<br />
           Marketing:   marketing@example.com<br />
        </p>
    </div>
</div>