@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 6</h1>
    <p class="lead">INT422, Assignment 6</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Eunseok's sixth Web app</h2>
        <p>
            This assignment was done by Eunseok Jeon 2017
        </p>

    </div>
    <div class="col-md-4">
        <h2>Assignment 6</h2>
        <p>You can quickly look through what I have done by clicking the tap "Playlist"</p>

    </div>
    <div class="col-md-4">
        <h2>Eunseok Jeon</h2>
        <p>You can easily contact me through email go and see the detail by clicking the tab "Contact"</p>
    </div>
</div>