@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Steeles ave east<br />
    <abbr title="Phone">P:</abbr>
    416.875.0000
</address>

<address>
    <strong>Email</strong>   <a href="mailto:Ejeon5@myseneca.ca">Ejeon5@example.com</a><br />
</address>