@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 7</h1>
    <p class="lead">INT422, Assignment 7</p>
    <p><a href="http://ejeon5-wa2017a7.azurewebsites.net/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Eunseok's Seventh Web app</h2>
        <p>
            This assignment was done by Eunseok Jeon 2017
        </p>

    </div>
    <div class="col-md-4">
        <h2>Assignment 7</h2>
        <p>Click the button "Learn more" above to see my work</p>

    </div>
    <div class="col-md-4">
        <h2>Eunseok Jeon</h2>
        <p>You can easily contact me through email go and see the detail by clicking the tab "Contact"</p>
    </div>
</div>